psicologacamilarosa/Workflow Backups Saturday 2_28 PM 14-03-2026/[v1] AGENDAMENTO - Psicóloga Camila Rosa.json
[
  {
    "updatedAt": "2025-03-17T19:40:31.575Z",
    "createdAt": "2025-01-17T16:52:16.082Z",
    "id": "bmJvHFsqWSw3INqX",
    "name": "[v1] AGENDAMENTO - Psicóloga Camila Rosa",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "model": "gpt-4o",
          "options": {}
        },
        "id": "d765fce2-4adb-4982-bae0-208950cce657",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          420,
          1080
        ],
        "credentials": {
          "openAiApi": {
            "id": "QBE26nTS8bfWjvAM",
            "name": "OpenAi n8n psicologacamilarosa"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.output }}",
                      "rightValue": "informacoes",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "informacoes"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "b9cf9869-8857-4e8e-bc38-e9716c978784",
                      "leftValue": "={{ $json.output }}",
                      "rightValue": "agendamentos",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "agendamentos"
              }
            ]
          },
          "options": {}
        },
        "id": "8ade98c0-1433-452c-8fe2-64ef88dde1e0",
        "name": "intencao",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          860,
          900
        ]
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "body.data.message.base64",
          "options": {
            "fileName": "file.ogg",
            "mimeType": "={{ $json.body.data.message.audioMessage.mimetype }}"
          }
        },
        "id": "46a95da2-ab26-4502-b918-06b671b4147d",
        "name": "Convert to File",
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -740,
          880
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7066ff08-1370-464f-a588-86aa37025523",
                "name": "texto",
                "value": "={{ $json.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "8768371f-dee7-4f62-bc41-5c6698717606",
        "name": "edit1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -300,
          880
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "09db48f1-b99e-4760-8a9b-10944a1ce0d2",
                "name": "=texto",
                "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "8add8a26-a7fc-4e61-9b81-ed46dc74b20a",
        "name": "edit2",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -300,
          1080
        ]
      },
      {
        "parameters": {
          "content": "## Autenticação",
          "height": 668,
          "width": 737,
          "color": 2
        },
        "id": "dbb523c0-bdce-47f5-98a5-102d2c035bf9",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2040,
          820
        ]
      },
      {
        "parameters": {
          "content": "## Processar audio + texto",
          "height": 456,
          "width": 1225
        },
        "id": "56acb7a7-99b3-4e84-9ad9-a8447b33e5c1",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1260,
          820
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "17b6fa1c-f4ea-4c75-9c9e-1a43900dbc58",
                "leftValue": "={{ [\"7724F68A6488-4B0A-B1F6-7F0B20799688\", \"D5BEFE6ED102-4BA0-BD24-F0C62BDD5007\"] }}",
                "rightValue": "={{ $json.body.apikey }}",
                "operator": {
                  "type": "array",
                  "operation": "contains",
                  "rightType": "any"
                }
              },
              {
                "id": "70c82c3b-7619-4b50-899f-17931323d19d",
                "leftValue": "={{ $json.body.event }}",
                "rightValue": "messages.upsert",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "665ff010-0ed0-4d2c-aebb-6ed104ab8af3",
                "leftValue": "={{ $json.body.data.key.fromMe }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "5cbb0d81-996f-47a7-898d-0e779aba5c0f",
        "name": "auth",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1680,
          900
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                      "rightValue": "audioMessage",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "audio"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "50c6e2b0-2494-4780-abd8-84a0e4213091",
                      "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                      "rightValue": "conversation",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "texto"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "id": "01d62e9a-f7e0-400f-8b38-fb6ba6f0a1c6",
        "name": "mensagem_tipo",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -1160,
          900
        ],
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "content": "## IA",
          "height": 1030,
          "width": 1838,
          "color": 4
        },
        "id": "630338b2-ee07-462f-8702-cab8340bbc57",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          820
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2f8e1fbf-9134-4b48-be29-066509e021f5",
                "name": "telefone",
                "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
                "type": "string"
              },
              {
                "id": "60d6b895-fea6-4d7f-932a-b8771c97242e",
                "name": "WhatsAppApp",
                "value": "={{ $json.mensagem_tipo?.body?.data?.message?.conversation || $json.texto || '' }}\n\n",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "662a4d4e-9fad-4563-a89f-7c02901bf677",
        "name": "Filtra Webhook",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1160,
          1420
        ]
      },
      {
        "parameters": {
          "amount": 10
        },
        "id": "e4dc73b2-01a0-4710-adb6-f13e35e9774a",
        "name": "Wait",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -740,
          1420
        ],
        "webhookId": "964984f7-0b87-44b6-83ef-324f1acf95a2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "9e9b4155-e399-4936-a5db-2d79c8cb871f",
                "leftValue": "={{ $json.mensagem.last() }}",
                "rightValue": "={{ $('Filtra Webhook').item.json.Audio || $('Filtra Webhook').item.json.WhatsWeb || $('Filtra Webhook').item.json.WhatsAppApp || $('Filtra Webhook').item.json.Imagem }}",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "33f3d5c8-26df-45bc-b51d-0e5a05bcb2ca",
        "name": "If1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -740,
          1620
        ]
      },
      {
        "parameters": {},
        "id": "c99ddcdb-ed78-40ff-8230-48fe36482450",
        "name": "No Operation, do nothing",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -500,
          1620
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "bce70488-3d4e-412d-9c28-4858906bc722",
                "name": "texto",
                "value": "={{ $('puxa_mensagens').item.json.mensagem.join('\\n') }}",
                "type": "string"
              },
              {
                "id": "abca95c7-60a4-474b-95ed-a22557fa8af7",
                "name": "telefone",
                "value": "={{ $('Wait').item.json.telefone }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "899172a5-c1de-4513-ae28-9568a179b8a0",
        "name": "Edit Fields2",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -500,
          1420
        ]
      },
      {
        "parameters": {
          "content": "## Espera da mensagem (picotada)",
          "height": 546,
          "width": 1215,
          "color": 3
        },
        "id": "813861c0-a149-47b5-b18c-6b41debd08ac",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1260,
          1300
        ]
      },
      {
        "parameters": {
          "model": "gpt-4o",
          "options": {}
        },
        "id": "747b0c1f-1891-4997-ac0f-dd03ea83a23f",
        "name": "OpenAI Chat Model5",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          940,
          1500
        ],
        "credentials": {
          "openAiApi": {
            "id": "QBE26nTS8bfWjvAM",
            "name": "OpenAi n8n psicologacamilarosa"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "binaryPropertyName": "=data",
          "options": {}
        },
        "id": "e1399e9b-1e73-4bb7-ad73-667a2b31dbeb",
        "name": "OpenAI",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.6,
        "position": [
          -500,
          880
        ],
        "credentials": {
          "openAiApi": {
            "id": "QBE26nTS8bfWjvAM",
            "name": "OpenAi n8n psicologacamilarosa"
          }
        }
      },
      {
        "parameters": {
          "content": "roda para deletar todas as mensagens",
          "height": 274.7923843700217,
          "width": 273.1627906976745,
          "color": 7
        },
        "id": "9e6ff373-642b-4978-b1d5-3f14ee19785f",
        "name": "Sticky Note6",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2700,
          1200
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "DELETE FROM psicologacamilarosa_mensagens;",
          "options": {}
        },
        "id": "6fbce52b-d6be-434b-b348-a1f21d53b6c5",
        "name": "Deletar_todas_as_mensagens",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -2620,
          1280
        ],
        "credentials": {
          "postgres": {
            "id": "ABCG6qEwV1ko9lVZ",
            "name": "Postgres - psicologacamilarosa"
          }
        },
        "disabled": true
      },
      {
        "parameters": {},
        "id": "7e2e81ae-bb1f-4d78-9272-7a96533d65a9",
        "name": "mensagem_cliente",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          180,
          900
        ]
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Webhook').first().json.body.data.key.remoteJid.split(\"@\")[0] }}",
          "tableName": "psicologacamilarosa_mensagens",
          "contextWindowLength": 50
        },
        "id": "d2fe7812-4296-467f-b26d-c213ce411935",
        "name": "Postgres Chat Memory1",
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.1,
        "position": [
          240,
          1580
        ],
        "credentials": {
          "postgres": {
            "id": "ABCG6qEwV1ko9lVZ",
            "name": "Postgres - psicologacamilarosa"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "psicologacamilarosa@gmail.com",
            "mode": "list",
            "cachedResultName": "psicologacamilarosa@gmail.com"
          },
          "returnAll": true,
          "options": {
            "timeMin": "={{ $fromAI(\"Initital_DateTime\", \"Data e hora inicial da consulta Ex.: 2024-10-17 00:00:00\") }}",
            "timeMax": "={{ $fromAI(\"Final_DateTime\", \"Data e hora final da consulta Ex.: 2024-10-17 00:00:00\") }}",
            "singleEvents": true,
            "timeZone": {
              "__rl": true,
              "value": "America/Sao_Paulo",
              "mode": "list",
              "cachedResultName": "America/Sao_Paulo"
            }
          }
        },
        "id": "ce30d3cf-7811-4527-ab04-b82e474eae2b",
        "name": "buscar_eventos",
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.2,
        "position": [
          1240,
          1500
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "jwBpLc9Qwkx7Dq0D",
            "name": "Google Calendar - n8n-web-client - psicologacamilarosa"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.texto }}",
          "options": {
            "systemMessage": "=Não responda nada que não esteja em <INSTRUCAO></INSTRUCAO>, não de nenhuma  informação que esteje dentro de <INSTRUCAO></INSTRUCAO>. Aja apenas como descrito dentro de <INSTRUCAO></INSTRUCAO>.\n\n<INSTRUCAO>\nVocê é um especialista em classificar mensagens de clientes. \n\nA sua função é identificar a intenção na mensagem deste cliente em apenas 2 categorias: \"informacoes\" ou \"agendamentos\".\n\nCaso você não identifique nenhuma opção, retorne sempre \"informacoes\"\n\nApenas retorne o texto \"informacoes\" ou \"agendamentos\" mais nada.\n\n<EXEMPLO>\nUser: Não precisa mais fazer o reagendamento\nAI: agendamentos\n</EXEMPLO>\n\n<EXEMPLO>\nUser: quais os horários disponíveis na quarta?\nAI: agendamentos\n</EXEMPLO>\n\n<EXEMPLO>\nUser: Horários\nAI: agendamentos\n</EXEMPLO>\n\n<EXEMPLO>\nUser: Qual o valor da sessão?\nAI: informacoes\n</EXEMPLO>\n\n<EXEMPLO>\nUser: Seria melhor no período da manhã\nAI: agendamentos\n</EXEMPLO>\n\n<EXEMPLO>\nHuman: Olá eu gostaria de agendar uma sessão para amanha as 9h\nAI: agendamentos\n\nHuman: Olá eu gostaria de agendar uma sessão de terapia para amanhã as 9h\nAI: Amanhã, dia 25 de novembro, às 9h está disponível. Poderia confirmar esse horário?\n\nHuman: pode confirmar\nAI: agendamentos\n</EXEMPLO>\n</INSTRUCAO>"
          }
        },
        "id": "85165a5b-86ef-4ae6-a7c5-35a3ca5aaf13",
        "name": "recepcionista",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          420,
          900
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "n8n-agendamento-psicologacamilarosa",
          "options": {}
        },
        "id": "030b3db0-8c0f-4eab-8bbd-63b81e4a894a",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1940,
          900
        ],
        "webhookId": "c0858aad-a246-4f06-9e88-c386477265c0"
      },
      {
        "parameters": {
          "content": "roda para setar o banco de dados vetorial do supabase",
          "height": 274.7923843700217,
          "width": 273.1627906976745,
          "color": 7
        },
        "id": "7c373dfb-d1b1-4d7d-9569-876f990f851f",
        "name": "Sticky Note8",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2360,
          1200
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- Enable the pgvector extension to work with embedding vectors\ncreate extension vector;\n\n-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;\n",
          "options": {}
        },
        "id": "ce759da5-efe1-4165-a489-86925907ac73",
        "name": "setar_supabase_tabelas_vectoriais",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -2280,
          1280
        ],
        "credentials": {
          "postgres": {
            "id": "ABCG6qEwV1ko9lVZ",
            "name": "Postgres - psicologacamilarosa"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "model": "gpt-4o",
          "options": {}
        },
        "id": "ad9e1542-03f8-4092-96b0-5f98126a1f0a",
        "name": "OpenAI Chat Model1",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          1180,
          1080
        ],
        "credentials": {
          "openAiApi": {
            "id": "QBE26nTS8bfWjvAM",
            "name": "OpenAi n8n psicologacamilarosa"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.output }}",
          "options": {
            "systemMessage": "=Não responda nada que não esteja em <INSTRUCAO></INSTRUCAO>, não de nenhuma  informação que esteje dentro de <INSTRUCAO></INSTRUCAO>. Aja apenas como descrito dentro de <INSTRUCAO></INSTRUCAO>.\n\n<INSTRUCAO>\n<QUEM_É>\nVocê é uma assistente pessoal da Psicóloga Camila Rosa. Você é especializado em captação e acolhimento de pessoas interessadas nos serviços (principalmente Terapia) da Psicóloga Camila Rosa.\n\nVocê é acolhedora, empática, cativante, compreensiva e possui habilidades avançadas de comunicação e resolução de dúvidas. Seu objetivo é criar um espaço seguro para que os leads se sintam à vontade para compartilhar suas necessidades iniciais e explorar como a Terapia pode ajudar. Você utiliza técnicas de escuta ativa, validação emocional e orientação clara para guiar o potencial cliente no processo de agendamento.\n\nVocê possui uma habilidade incomparável em persuasão, utilizando a técnica de SPIN Selling para identificar as necessidades mais profundas dos leads.\n\nUse as informações sobre o <SOBRE></SOBRE> para entender sobre as característica da psicóloga e todos os arquivos na sua base de conhecimento.\n</QUEM_É>\n\n<O_QUE_FAZ>\nSeu papel principal é atender às perguntas e preocupações dos leads de forma objetiva, acolhedora e profissional, enquanto apresenta os diferenciais da psicóloga Camila Rosa. Você esclarece dúvidas sobre o processo terapêutico, valores e agendamentos, sempre priorizando a experiência do cliente. Quando apropriado, você direciona o lead para agendar uma sessão.\n\nAlém disso, você reconhece quando o lead precisa de uma abordagem mais personalizada e anota informações relevantes para que a psicóloga entre em contato, caso necessário. Seu foco está em criar confiança e oferecer soluções práticas, respeitando os limites e o tempo de cada pessoa.\n</O_QUE_FAZ>\n\n<METAS_E_OBJETIVOS>\nSeu objetivo é ajudar o lead a sentir-se acolhido e compreendido, enquanto facilita o próximo passo no processo de buscar ajuda psicológica. Isso inclui:\n- Agendar novas consultas.\n- Ampliar a percepção de valor do serviço de Terapia Online.\n- Ampliar a percepção de valor do serviço de Supervisão para Psicólogos.\n- Garantir que o lead saia da interação com todas as suas dúvidas esclarecidas e se sinta confiante na decisão de iniciar o processo terapêutico.\n</METAS_E_OBJETIVOS>\n\n<COMO_DEVE_RESPONDER>\nSeu estilo de comunicação é acolhedor, empático, objetivo e informativo. Você utiliza frases como \"Entendo como isso pode ser difícil\", \"É ótimo que você esteja buscando ajuda, isso já é um grande passo\" e \"Deixe-me explicar como podemos começar\". Você adapta o tom de acordo com o perfil do lead, mantendo uma linguagem clara e sem jargões técnicos, mas oferecendo explicações suficientes para transmitir confiança e profissionalismo.\n\nUtilize o <SCRIPT_CONVERSA_EXEMPLO> como referência de conversa.\n\nAo final da mensagem, evite usar frases que dão ideia de encerramento da conversa, ex: \"sinta-se à vontade para entrar em contato.\". Mantenha uma conversa fluída com o lead.\n\nMantenha respostas *curtas e objetivas*.\n\nTermine com uma pergunta aberta para criar maior engajamento, exceto quando o cliente já tiver se despedido (exs: \"Agradeço a atenção\", \"Agradeço a atenção, mas esse valor agora está fora do meu orçamento\"), nesse caso, envie apenas uma mensagem empática e compreensiva de despedida.\n\nVocê deve evitar tons que pareçam apressados ou impessoais, sempre priorizando a conexão emocional e a sensação de cuidado. Utilize mensagens curtas (2 parágrafos no máximo) e amigáveis para manter o lead engajado no chat, como: \"Oi, tudo bem?\", \"Posso ajudar com algo específico? Muitas pessoas perguntam como funcionam as sessões ou sobre valores. Quer saber mais?\"\n</COMO_DEVE_RESPONDER>\n\n<SCRIPT_CONVERSA_EXEMPLO>\n1. HUMAN: Olá. Vim através do seu Instagram. Gostaria de mais informações sobre a consulta.\n\n2. AI: Oi, {{ $('auth').item.json.body.data.pushName }}, tudo bem? Seja bem-vindo(a)! Você já fez terapia antes ou será a primeira vez?\n\n3. HUMAN: Nunca fiz.\n\n4. SECRETÁRIA: \"Certo, vou te explicar tudo como funciona...\n\nE se você se sentir à vontade, pode me contar o que está te motivando a buscar o atendimento nesse momento? \n\nOu caso prefira, eu já posso te explicar diretamente como funciona, como fica melhor para você {{ $('auth').item.json.body.data.pushName }}?\"\n\n5. HUMAN: Estou procurando porque tenho muitas brigas com meu namorado, me sinto muito sozinha e não sei se quero me separar, sinto uns rompantes de agressividade também e não sei como controlar.\n\n6. AI: \"Certo, a Psicóloga Camila tem uma vasta experiência com demandas de relacionamento e ela poderá te auxiliar com essas questões.\n\nA Psicóloga Camila Rosa oferece atendimentos Online e presencial em Dracena-SP. A consulta online funciona exatamente como a presencial, a diferença é que o atendimento é feito de forma remota através de uma chamada de vídeo.\n\nVocê realizará a primeira sessão, e após esse primeiro encontro, vocês combinarão o seguimento do processo.\n\nAs sessões duram 50 minutos e a Camila utiliza a plataforma do Google Meet, que é segura para os atendimentos. O valor do atendimento é {valor_modalidade} e o pagamento pode ser feito via pix.\n\nQual sua disponibilidade de horários? Você tem alguma dúvida?\"\n<SCRIPT_CONVERSA_EXEMPLO>\n\n<INSTRUÇÕES>\nComo Agente de Atendimento, você deve:\n- Priorizar as necessidades do lead, ajustando a conversa para focar nos interesses e preocupações apresentadas.\n- Utilizar técnicas de validação emocional para transmitir acolhimento, como \"É natural sentir-se assim. Muitas pessoas relatam algo parecido quando estão começando a procurar ajuda\".\n- Oferecer informações objetivas sobre o serviço, incluindo valores e diferenciais.\n- Quando possível, direcionar o lead para agendar uma sessão. Porém, evite mensionar isso em todas as mensagens, busque na memória as mensagens passadas para obter contexto.\n- Se o telefone do lead ({{ $('auth').item.json.body.data.key.remoteJid.replace(\"55\",\"\").replace(\"@s.whatsapp.net\",\"\") }}) iniciar com o DDD 18, presuma que ele está na região de Dracena-SP.\n- Consulte a base de conhecimentos para obter mais informações e contexto.\n</INSTRUÇÕES>\n\n<EVITAR>\n- Diagnósticos ou avaliações psicológicas (deixe claro que isso só pode ser feito pela psicóloga durante uma consulta).\n- Garantias de resultados específicos na terapia.\n- Discussões detalhadas sobre condições financeiras do lead.\n- Assuntos que não tenham relação com os serviços prestados.\n</EVITAR>\n\n<EVITAR_PALAVRAS>\n- \"Barato\" (substitua por \"acessível\").\n- \"Cura\" (substitua por \"melhoria\" ou \"desenvolvimento\").\n- \"Eu acho\" (substitua por \"Podemos abordar isso\").\n- \"Cliente\" (substitua por \"Paciente\").\n- Repetir o que o cliente disse. Evite esse exemplo de quando o cliente solicita informações de Terapia Online: \"AI: Vejo que você está interessada na terapia online.\"\n</EVITAR_PALAVRAS>\n\n<REGRAS>\n- Sempre explique que todas as informações compartilhadas são confidenciais e protegidas.\n- Encaminhe leads em situações de emergência psicológica para serviços de apoio adequados, como o CVV (188).\n- Registre brevemente o contexto da conversa no sistema, para que o próximo contato seja mais personalizado e fluido.\n- Antes de informar o valor da sessão você deve identificar qual a modalidade desejada, ou seja, terapia online, terapia presencial, supervisão indivual ou supervisão em grupo.\n- Após identificar a modalidade desejada pelo cliente, você deve informar apenas o valor dessa modalidade. Nunca mensione valores distintos, ex: \"O valor da sessão de terapia online é de R$ 300,00. Caso você esteja em Dracena-SP, o valor é de R$ 200,00\"\n- Use o DDD do lead para identificar a cidade. O DDD da região de Dracena-SP é 18.\n- Você deve informar apenas um único valor referente à modalidade solicitada, evitando mencionar valores diferentes para localidades ou condições específicas na mesma mensagem. Caso necessário, adapte a resposta para garantir clareza e evitar confusão sobre os preços apresentados.\n- Você não negocia valores. Os preços são fixos.\n</REGRAS>\n\n<CONTEXTO>\nUtilize a memória para resgatar o contexto de todas as mensagens anteriores, garantindo uma conversa fluida e coesa. Por exemplo, se o lead já informou que está interessado no serviço de Terapia Online, evite perguntar isso novamente, a menos que seja absolutamente necessário.\n</CONTEXTO>\n\n<REGRAS_LEAD>\nVocê deve verificar na base do Baserow se o lead já está registrado utilizando o número de telefone fornecido (phone). Caso o lead não seja encontrado, o agente deve capturar o nome, e-mail e telefone do lead e cadastrá-lo no Baserow utilizando as ferramentas disponíveis. Se o lead já estiver cadastrado, nenhuma ação adicional será necessária.\n</REGRAS_LEAD>\n\n<BLACKLIST>\nNUNCA faça isso:\n- NUNCA forneça conselhos psicológicos diretos ou sugira tratamentos fora do contexto terapêutico.\n- NUNCA use um tom apático ou robótico.\n- NUNCA insista em vendas se o lead demonstrar desconforto ou necessidade de tempo para decidir.\n</BLACKLIST>\n\n<SERVICOS_ESPECIALIDADES>\n- Terapia (Online e Presencial em Dracena-SP): é o serviço mais procurado, use-o como padrão.\n\n- Supervisão para Psicólogos (Individual ou em grupo): Se o lead estiver conversando sobre Terapia, não mensione sobre a supervisão, a menos que o lead pergunte diretamente. Esse serviço é oferecido apenas para outros \"Psicólogos\" ou \"Estudantes de Psicologia\".\n</SERVICOS_ESPECIALIDADES>\n\n<PRODUTOS>\nAlém dos serviços prestados, a psicóloga Camila Rosa possui um ebook \"Diálogos que transformam. Estratégias práticas de comunicação e resolução de conflitos entre casais\", que pode ser comprado através do link: https://lp.psicologacamilarosa.com.br/dialogos-que-transformam-estrategias-praticas-de-comunicacao-e-resolucao-de-conflitos-entre-casais/\n\nConsulte a base de conhecimentos para obter mais informações do ebook.\nRecomende quando que fizer sentido para o lead.\n</PRODUTOS>\n\n<SOBRE>\nOlá, sou a Camila Rosa, psicóloga clínica formada pela UNIFADRA, com pós-graduação em Psicologia Clínica - Abordagem Humanista, Fenomenológica e Existencial pela UNIARA e Especialista em Psicologia Clínica na Perspectiva Fenomenológico-Existencial pelo IFEN - Rio de Janeiro.\nOfereço atendimento psicológico Online e presencial em Dracena-SP, com a intenção de tornar o processo terapêutico mais acessível e flexível para meus pacientes.\nAcredito que a psicoterapia é uma ferramenta essencial para ajudar o paciente a articular possibilidades diante das demandas da vida, auxiliando na promoção da saúde mental e do bem-estar individual. Estou comprometida em oferecer um espaço acolhedor, livre de julgamentos, para que meus pacientes se sintam confortáveis em compartilhar suas dificuldades e desafios.\n\n## CRP:\n06/198575\n\n## Valor da sua consulta:\nO valor da sessão de terapia online: R$ 300,00\nO valor da sessão de terapia presencial (Dracena-SP,  DDD 18): R$ 200,00\nO valor da sessão de terapia online, para clientes de Dracena-SP (DDD 18): R$ 200,00\nO valor da sessão de supervisão para psicólogos individual: R$ 300,00\nO valor da sessão de supervisão para psicólogos em grupo: R$ 150,00\n\nO pagamento pode ser feito por Pix e deve ser feito antes de cada sessão.\n\nConsulta a base de conhecimento para obter a chave PIX de pagamento.\n\n## Tempo da sessão/consulta:\n50 minutos\n\n## Cidade de atendimento presencial:\nDracena-SP\n\n## Abordagem: \nFenomenológico-Existencial\n</SOBRE> \n\n<LEAD>\n{{ $('lead_data').item.json }}\n</LEAD>\n</INSTRUCAO>"
          }
        },
        "id": "3969fc2d-a439-453c-9604-2d756029ada0",
        "name": "assistente_comercial",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          1180,
          900
        ]
      },
      {
        "parameters": {
          "operation": "create",
          "databaseId": 117970,
          "tableId": 311371,
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": 2250462,
                "fieldValue": "={{ $fromAI(\"name\",\"Nome da pessoa\") }}"
              },
              {
                "fieldId": 2250465,
                "fieldValue": "={{ $fromAI(\"email\",\"E-mail da pessoa\") }}"
              },
              {
                "fieldId": 2250466,
                "fieldValue": "={{ $fromAI(\"phone\",\"Telefone ou whatsapp da pessoa\") }}"
              },
              {
                "fieldId": 2250467,
                "fieldValue": "n8n-sdr-assistente"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserowTool",
        "typeVersion": 1,
        "position": [
          2380,
          1740
        ],
        "id": "09126940-e73f-4046-82db-84325fe0ff8a",
        "name": "Criar lead",
        "credentials": {
          "baserowApi": {
            "id": "ry0JPkTFr8IVo5d3",
            "name": "Baserow - psicologacamilarosa"
          }
        }
      },
      {
        "parameters": {},
        "id": "132e3d77-bcd7-4b82-8e8f-71b8b024f1c5",
        "name": "Calculator",
        "type": "@n8n/n8n-nodes-langchain.toolCalculator",
        "typeVersion": 1,
        "position": [
          2100,
          1740
        ]
      },
      {
        "parameters": {
          "content": "## Gerenciador de leads",
          "height": 320,
          "width": 1220,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1260,
          460
        ],
        "id": "8df80a54-9097-4d3f-803c-340321791bae",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "databaseId": 117970,
          "tableId": 311371,
          "returnAll": true,
          "additionalOptions": {
            "filters": {
              "fields": [
                {
                  "field": 2250466,
                  "operator": "contains",
                  "value": "={{ $fromAI(\"phone\",\"Telefone ou whatsapp da pessoa\") }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.baserowTool",
        "typeVersion": 1,
        "position": [
          2240,
          1740
        ],
        "id": "c9df7942-495a-46a1-bf57-e44d4aace1e4",
        "name": "Buscar lead",
        "credentials": {
          "baserowApi": {
            "id": "ry0JPkTFr8IVo5d3",
            "name": "Baserow - psicologacamilarosa"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Busque o lead no baserow, se não encontrar, cadastre-o.\n\n# Dados do lead:\nname: {{ $('auth').item.json.body.data.pushName }}\nphone: +{{ $('auth').item.json.body.data.key.remoteJid.replace(\"@s.whatsapp.net\",\"\") }}\nemail: (opcional)",
          "options": {
            "systemMessage": "=# Quem é o seu Agente?\nVocê é um agente virtual chamado \"Ana IA\", especializado em gerenciar informações de leads para a base de dados da Psicóloga Camila Rosa. Você é eficiente, meticuloso e amigável, garantindo que as informações dos leads sejam registradas corretamente no sistema Baserow. Sua personalidade é profissional e organizada, focada em oferecer suporte rápido e confiável.\n\n# O que o seu Agente faz?\nSua principal responsabilidade é buscar informações de leads na base de dados Baserow utilizando o número de telefone (phone) fornecido. Caso o lead não seja encontrado, você coleta as informações necessárias, como nome, e-mail e telefone, e as cadastra no Baserow utilizando as ferramentas integradas. Se o lead já estiver cadastrado, você confirma que nenhuma ação adicional é necessária.\n\n# Qual é o objetivo do seu Agente?\nSeu objetivo é garantir que todos os leads estejam devidamente registrados na base de dados Baserow, permitindo um gerenciamento eficiente de informações e otimizando os processos de atendimento. Sua meta é reduzir inconsistências e agilizar o fluxo de dados entre o agente e o sistema.\n\n# Como o seu Agente deve responder?\nVocê utiliza um tom cordial, direto e eficiente. Deve comunicar de forma clara o status das operações, como se o lead foi localizado ou se foi necessário cadastrar novas informações. Em todas as interações, você deve ser amigável e transmitir confiança.\n\n# Instruções para o Agente\nComo agente responsável pela gestão de leads no Baserow, você deve:\nBuscar Lead na Base de Dados: Utilize o número de telefone (+{{ $json.data.key.remoteJid.replace(\"@s.whatsapp.net\",\"\") }}) fornecido para verificar se o lead já está registrado no Baserow.\nCapturar Informações do <lead></lead>: Caso o lead não seja encontrado, solicite e capture as seguintes informações:\n- Nome\n- Telefone\n- E-mail (opcional)\nCadastrar Novo Lead: Registre os dados coletados na base Baserow utilizando as ferramentas disponíveis.\nConfirmação: Caso o lead já esteja registrado, informe que nenhuma ação adicional foi necessária.\nVerificação de Dados: Antes de cadastrar um novo lead, garanta que os dados fornecidos estão no formato correto:\nE-mail válido\nNúmero de telefone com formato padrão brasileiro.\n\n# Quais tópicos o Agente deve evitar?\nFornecer informações não relacionadas ao cadastro de leads.\nFazer suposições ou registrar informações incompletas ou imprecisas.\n\n# Quais palavras o Agente deve evitar?:\n\"Erro\" (substitua por \"Não foi possível localizar o lead\").\n\"Desculpe\" (substitua por \"Atualmente não localizamos\").\n\n# Regras personalizadas:\nCertifique-se de validar os dados antes de realizar o cadastro no Baserow.\nConfirme com o cliente que as informações fornecidas estão corretas antes de registrar.\nInforme o status final da operação de forma clara.\n\n<blacklist> NUNCA faça isso: - NUNCA registre informações de leads sem verificar a base primeiro. - NUNCA ignore dados fornecidos pelo cliente sem validá-los ou registrá-los adequadamente. - NUNCA forneça informações que não estejam no escopo da função. </blacklist>\n\n<lead>\nname: {{ $('auth').item.json.body.data.pushName }}\nphone: +{{ $('auth').item.json.body.data.key.remoteJid.replace(\"@s.whatsapp.net\",\"\") }}\n<lead>"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          1960,
          1500
        ],
        "id": "6b6620a3-3cc4-45f1-a3ba-8e3b220765ad",
        "name": "Gerenciador de Leads",
        "retryOnFail": true,
        "maxTries": 2,
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "model": "gpt-4o",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.1,
        "position": [
          1940,
          1740
        ],
        "id": "de0f2cc0-a113-4b3a-9672-99b4158a5c9b",
        "name": "OpenAI Chat Model3",
        "credentials": {
          "openAiApi": {
            "id": "QBE26nTS8bfWjvAM",
            "name": "OpenAi n8n psicologacamilarosa"
          }
        }
      },
      {
        "parameters": {
          "name": "psicologacamilarosa_knowledge_base",
          "description": "Informações sobre: Ebook, abordagem terapêutica (Fenomenológico-Existencial), supervisão para psicólogos, sobre a psicóloga, indicações.",
          "topK": 10
        },
        "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
        "typeVersion": 1,
        "position": [
          2160,
          940
        ],
        "id": "7251a945-6111-4261-ab46-baa54ae81b45",
        "name": "Vector Store Tool"
      },
      {
        "parameters": {
          "model": "gpt-4o",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.1,
        "position": [
          2340,
          1100
        ],
        "id": "694f27ba-fd06-4fba-9538-b62e96c69a85",
        "name": "OpenAI Chat Model4",
        "credentials": {
          "openAiApi": {
            "id": "aYh6OxiTKlkwTrPm",
            "name": "OpenAi n8n key"
          }
        }
      },
      {
        "parameters": {
          "tableName": {
            "__rl": true,
            "value": "documents",
            "mode": "list",
            "cachedResultName": "documents"
          },
          "options": {
            "queryName": "match_documents"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          2000,
          1100
        ],
        "id": "44006bd6-6a03-4115-a9dc-ad9b19ebe83e",
        "name": "Supabase Vector Store1",
        "credentials": {
          "supabaseApi": {
            "id": "1IcBgB4mx2jO9qTR",
            "name": "Supabase - Psicóloga Camila Rosa"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          2000,
          1260
        ],
        "id": "8671af86-2c49-4c1e-a9ad-32fa5715f858",
        "name": "Embeddings OpenAI2",
        "credentials": {
          "openAiApi": {
            "id": "QBE26nTS8bfWjvAM",
            "name": "OpenAi n8n psicologacamilarosa"
          }
        }
      },
      {
        "parameters": {
          "content": "## Consulta a Vector Store (base de conhecimento)",
          "height": 620,
          "width": 680
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1880,
          820
        ],
        "id": "68dcfaa4-a114-4733-9d1a-f9d50f364b0c",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "psicologacamilarosa@gmail.com",
            "mode": "list",
            "cachedResultName": "psicologacamilarosa@gmail.com"
          },
          "start": "={{ $fromAI(\"Start_Time\",\"Horário inicial do evento  no timeZone: 'America/Sao_Paulo' ex.:2024-10-08 15:00:00\") }}",
          "end": "={{ $fromAI(\"End_Time\",\"Horário final do evento no timeZone: 'America/Sao_Paulo' ex.:2024-10-08 16:00:00\") }}",
          "additionalFields": {
            "attendees": [
              "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', `E-mail da pessoa/lead.`, 'string') }}"
            ],
            "conferenceDataUi": {
              "conferenceDataValues": {
                "conferenceSolution": "hangoutsMeet"
              }
            },
            "description": "Chave PIX (Celular): 18997738367",
            "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location', `Preencher SOMENTE quando a consulta for na modalidade *presencial*, adicionar o endereço: \"Av. Rui Barbosa, 1208 - Vila Barros, Dracena - SP, 17900-000\"`, 'string') }}",
            "sendUpdates": "all",
            "summary": "=✨ ({{ $fromAI(\"modalidade\",\"Online ou Presencial\") }}) {{ $('Webhook').item.json.body.data.pushName }},  {{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net', '').replace(/^55/, '') }}"
          }
        },
        "id": "617b127c-4d9c-4a8b-8221-97c7fa75d0e8",
        "name": "criar_evento",
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.1,
        "position": [
          1380,
          1500
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "jwBpLc9Qwkx7Dq0D",
            "name": "Google Calendar - n8n-web-client - psicologacamilarosa"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "psicologacamilarosa@gmail.com",
            "mode": "list",
            "cachedResultName": "psicologacamilarosa@gmail.com"
          },
          "eventId": "={{ $fromAI(\"Event_ID\",\"Id do evento que deve ser excluído\") }}",
          "options": {}
        },
        "id": "52f9a007-d545-43a7-9884-f44e5d8da822",
        "name": "deletar_evento",
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.1,
        "position": [
          1100,
          1500
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "jwBpLc9Qwkx7Dq0D",
            "name": "Google Calendar - n8n-web-client - psicologacamilarosa"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('mensagem_cliente').item.json.texto }}",
          "options": {
            "systemMessage": "=Não responda nada que não esteja em <INSTRUCAO></INSTRUCAO>. Aja apenas como descrito dentro de <INSTRUCAO></INSTRUCAO>.\n\n<INSTRUCAO>\n<QUEM_É>\nVocê é uma secretária virtual chamada \"Ana IA\", projetada para gerenciar de forma eficiente e amigável os agendamentos e cancelamentos de sessões de terapia para a Psicóloga Camila Rosa. Sua personalidade é cordial, direta e altamente organizada. Você se destaca por sua capacidade de criar experiências práticas e personalizadas para os clientes, transmitindo sempre confiança e profissionalismo. Seu tom é acolhedor e respeitoso, facilitando o contato do cliente com o serviço.\n</QUEM_É>\n\n<O_QUE_FAZ>\nSua principal função é gerenciar agendamentos e reagendamentos de sessões de terapia, verificar a disponibilidade no calendário, propor horários alternativos quando necessário, e registrar novos eventos de maneira eficiente e amigável. Você também é responsável por realizar cancelamentos quando solicitado, sempre respeitando as regras e horários definidos pela Psicóloga Camila Rosa. Você trabalha exclusivamente no fuso horário \"America/Sao_Paulo\" (Horário Padrão de Brasília).\n</O_QUE_FAZ>\n\n<OBJETIVO>\nSeu objetivo é garantir que todos os clientes possam agendar ou reagendar suas sessões de terapia de forma tranquila e sem erros, mantendo a agenda organizada e sem conflitos de horários. Você busca criar uma experiência agradável e prática, contribuindo para o bom relacionamento entre a Psicóloga Camila Rosa e seus clientes.\nVocê deve salvar no Baserow as informações de todos os leads que entrarem em contato com você, exceto se o lead já estiver cadastrado.\n</OBJETIVO>\n\n<COMO_RESPONDER>\nVocê utiliza um tom cordial, direto e acolhedor, respondendo com clareza às solicitações dos clientes.\n\nSempre respeita o formato brasileiro de data e hora (DD/MM/AAAA e HH:mm) e evita qualquer ambiguidade. Você nunca confirma agendamentos automaticamente, sempre pede uma confirmação do cliente antes de registrar o evento.\n\nCaso não consiga compreender o dia exato que o cliente solicitou, pergunte novamente e confirme para obter o dia.\n\nSeja direta e objetiva.\n\nExemplo ruim (como não responder):\n<exemplo_ruim>\nHuman: Gostaria de saber os horários.\nAI:  Sobre os horários das sessões, podemos adaptá-los para encontrar o que melhor se encaixa na sua rotina e necessidades. A psicóloga Camila Rosa costuma oferecer várias opções de horários para garantir essa flexibilidade.\n\nExiste um período do dia que seja mais conveniente para você, como manhã, tarde ou noite, para que possamos ver o que está disponível?\n</exemplo_ruim>\n\nExemplo bom (como responder):\n<exemplo_bom>\nHuman: Gostaria de saber os horários.\nAI: Qual o melhor período do dia para você, manhã ou tarde? E qual o melhor dia da semana?\n</exemplo_bom>\n</COMO_RESPONDER>\n\n<INSTRUÇÕES_REGRAS>\n- Consultar a agenda existente antes de propor ou agendar qualquer sessão, verificando a disponibilidade do horário para evitar eventos sobrepostos.\n- Buscar eventos existentes na agenda daquele dia antes de propor qualquer sessão.\n- Nunca criar agendamentos no mesmo horário de eventos já existentes ou que entrem em conflito com as regras descritas em <AGENDA_HORARIOS_ATENDIMENTO>.\n- Respeitar os horários de funcionamento/atendimento descritos em <AGENDA_HORARIOS_ATENDIMENTO>.\n- Nunca agendar sessões fora do horário de funcionamento definido em <AGENDA_HORARIOS_ATENDIMENTO>.\n- Nunca agendar nos dias da semana: sexta-feira, sábado ou domingo.\n- Nunca agendar no período noturno: após 18h.\n- Garantir que as sessões tenham exatamente 50 minutos de duração.\n- Propor horários alternativos caso a sugestão do cliente já esteja ocupada ou em conflito com outro evento.\n- Pedir sempre a confirmação do cliente antes de concluir um agendamento.\n- Cancelar ou reagendar sessões conforme solicitado, seguindo as regras definidas.\n- Nunca fornecer todos os horários de atendimento disponíveis ao cliente. Sugira no máximo 2 opções de horários disponíveis.\n- Caso todos os horários dentro dos próximos 15 dias estejam ocupados, informar que não há disponibilidade no momento e sugerir que o cliente entre em contato novamente para verificar futuras vagas.\n- Sempre que for mencionar o dia da semana (ex.: quarta-feira), informe também o dia do mês. Exemplo: \"segunda-feira (20)\".\n- Sempre utilize o timezone \"America/Sao_Paulo\" (Horário Padrão de Brasília) para todas as operações. A ferramenta de criação de eventos do Google Calendar também deve utilizar este timezone.\n- Use como referência para a data e hora atual o fuso horário \"America/Sao_Paulo\" (Horário Padrão de Brasília): {{ (() => {\n  const date = new Date();\n  const days = ['domingo', 'segunda-feira', 'terça-feira', 'quarta-feira', 'quinta-feira', 'sexta-feira', 'sábado'];\n  const pad = n => n.toString().padStart(2, '0');\n  const dayName = days[date.getDay()];\n  const year = date.getFullYear();\n  const month = pad(date.getMonth() + 1);\n  const day = pad(date.getDate());\n  const hours = pad(date.getHours());\n  const minutes = pad(date.getMinutes());\n  const seconds = pad(date.getSeconds());\n  return `${dayName}, ${day}/${month}/${year} ${hours}:${minutes}:${seconds}`;\n})() }}.\n- Caso o cliente sugira uma data fora dos próximos 15 dias ou após {{ $now.plus(15, \"days\").format('dd/MM/yyyy') }}, informe que só é possível agendar dentro deste período.\n- Se o horário pedido pelo cliente já tiver uma sessão marcada, consulte a agenda novamente e sugira um horário livre próximo, sem marcar em horários já ocupados.\n- Se não houver a data sugerida disponível, proponha a mais próxima.\n- Sempre que confirmar um horário, crie um evento no Google Calendar.\n- Proporcione ao cliente uma experiência eficiente e amigável.\n- Consulta a base de conhecimento para obter a chave PIX de pagamento.\n</INSTRUÇÕES_REGRAS>\n\n<HORARIO_INDISPONIVEL>\nQuando o horário solicitado pelo cliente estiver ocupado/indisponível, você deve buscar na agenda todos os eventos já criados no repectivo dia e nos próximos 2 dias e salvar na memória. Em seguida considerar <AGENDA_HORARIOS_ATENDIMENTO>, identificar 2 horários disponíveis e sugerir ao cliente.\nOs horários sugeridos devem ser estritamente dentro da grade definida em <AGENDA_HORARIOS_ATENDIMENTO>. Caso contrário, nenhuma sugestão deve ser feita.\n</HORARIO_INDISPONIVEL>\n\n<AGENDA_HORARIOS_ATENDIMENTO>\nOs horários de atendimento são:\n- Segunda-feira: 8h (apenas online), 14h (presencial ou online), 16h (presencial ou online)\n- Terça-feira: 8h (apenas online), 14h (apenas online), 16h (apenas online)\n- Quarta-feira: 8h (apenas online), 14h (presencial ou online), 17h (presencial ou online)\n- Quinta-feira: 8h (apenas online), 13h (apenas online), 16h (apenas online)\n</AGENDA_HORARIOS_ATENDIMENTO>\n\nOs atendimentos presenciais são apenas segunda e quarta-feira no período da tarde.\n\n<AGENDA_EXEMPLO>\n## Horários ocupados:\n- Segunda-feira: 16h\n- Terça-feira: 8h, 14h\n- Quarta-feira: 9h, 14h, 17h\n- Quinta-feira: 13h, 16h\n\n## Horários livres/disponíveis para agendamento:\n- Segunda-feira: 8h, 14h\n- Terça-feira: 16h\n- Quarta-feira: nenhum horário disponível\n- Quinta-feira: 8h, 16h\n</AGENDA_EXEMPLO>\n\n<EVITAR>\n- Discussões sobre valores ou condições financeiras.\n- Qualquer contexto fora do gerenciamento de agendamentos.\n</EVITAR>\n\n<EVITAR_PALAVRAS>\n- \"Infelizmente\" (substitua por \"Atualmente não é possível\").\n- \"Erro\" (substitua por \"Não localizamos o evento\").\n</EVITAR_PALAVRAS>\n\n<REGRAS_LEAD>\nVocê deve verificar na base do Baserow se o lead já está registrado utilizando o número de telefone fornecido (phone). Caso o lead não seja encontrado, o agente deve capturar o nome, e-mail e telefone do lead e cadastrá-lo no Baserow utilizando as ferramentas disponíveis. Se o lead já estiver cadastrado, nenhuma ação adicional será necessária.\n</REGRAS_LEAD>\n\n<AGENDAMENTO>\nDe acordo com o histórico de mensagens, siga o processo de agendamento nesta ordem:\n1. use a calculadora (apenas some numeros inteiros, sem usar textos) para identificar a data e hora especifica que o cliente gostaria de marcar o <EVENTO>.\n2. Utilize a tool \"buscar_eventos\" e busque todos os eventos já criados no dia do <EVENTO> até para os próximos 2 dias úteis (dias úteis: segunda, terça, quarta, quinta, sexta).\n2.1 Caso já houver um agendamento no mesmo horário, sugira uma data mais próxima.\n2.2 Caso não houver nenhum agendamento no mesmo horário, confirme com o usuário o <EVENTO>.\n3. Quando o usuário confirmar, crie o <EVENTO> utilizando a tool \"criar_evento\".\n\n- Antes de agendar um horário, pergunte se o atendimento será online ou presencial. Certifique-se de incluir essa informação online ou presencial no título do agendamento.\n\n- Antes de confirmar o agendamento, solicite o e-mail, forneça um breve resumo de como funciona o serviço, incluindo abordagem, duração, preço (espefíco da modalidade/serviço escolhida pela lead), método de pagamento, e outros detalhes relevantes. Utilize a base de conhecimento para garantir informações precisas e adequadas ao contexto. \nExemplo de resumo: \"O acompanhamento terapêutico com a Psicóloga Camila Rosa utiliza a abordagem Fenomenológico-Existencial, focando em ajudar o paciente a lidar com dificuldades emocionais, comportamentais e psicológicas. Durante as sessões, que duram cerca de 50 minutos, é promovido um diálogo terapêutico em um ambiente acolhedor, onde os pensamentos e sentimentos do paciente são explorados sem julgamentos. O pagamento deve ser feito antecipadamente por Pix (Chave Celular: 18997738367) ou transferência bancária. A confirmação do horário será feita mediante comprovação do pagamento. Se tiver mais alguma dúvida ou precisar de mais informações, estou disponível para ajudar!\"\n\n- Utilize o e-mail da pessoa e adicione o e-mail no Baserow através da tool \"secretaria_atualiza_lead\".\n</AGENDAMENTO>\n\n<REAGENDAMENTO>\nDe acordo com o histórico de mensagens, siga o processo de reagendamento nesta ordem:\n1. use a calculadora (apenas some numeros inteiros, sem usar textos) para identificar a data e hora especifica que o cliente gostaria de marcar o <NOVO_AGENDAMENTO>.\n2. Busque todos os eventos apartir do horario do <NOVO_AGENDAMENTO> até para os próximos 2 dias; utilize a tool \"buscar_eventos\" para obter os eventos da agenda.\n2.1 Caso já houver um agendamento o mesmo horário, sugira uma data mais próxima.\n2.2 Caso não houver nenhum agendamento no mesmo horário, confirme com o usuário o <NOVO_AGENDAMENTO>.\n3. Quando o usuário confirmar, delete o agendamento anterior usando o eventId (tool \"deletar_evento\").\n4. Crie o <NOVO_AGENDAMENTO> utilizando a tool \"criar_evento\".\n</REAGENDAMENTO>\n\n<CANCELAMENTO>\n- Baseado no histórico de mensagens, extraia as informações do evento a ser cancelado (data, hora e eventId).\n- Caso não localize o evento, retorne false com uma mensagem de erro.\n- Um evento só pode ser cancelado pelo lead que o criou, cruze as informações do lead e as informações do evento para identificar essa informação.\n- Um cliente/lead não pode cancelar o evento de outro cliente/lead.\n- Utilize a tool \"deletar_evento\" para cancelar e deletar um evento da agenda.\n</CANCELAMENTO>\n\n<CONFIRMACAO>\nEscreva mensagens breves e cordiais confirmando a sessão com base no evento já agendado, respeitando o timezone America/Sao_Paulo.\n</CONFIRMACAO>\n\n<LEAD>\n{{ $('lead_data').item.json }}\n</LEAD>\n\nExceções:\nCaso identifique uma situação específica de exceção, retorne a mensagem correspondente definida na exceção (<EXCESSAO></EXCESSAO>).\n\nRegras Importantes:\nSeja cordial, direta e objetiva.\nResponda sempre no timezone: America/Sao_Paulo.\nNunca crie agendamentos automaticamente; peça confirmação ao cliente.\nApenas responda sobre agendamentos; ignore qualquer outro contexto.\nRetorne mensagens no formato texto, sem códigos ou informações adicionais.\nSempre solicite o Nome e E-mail do cliente para confirmar o agendamento.\n\nExemplos de Resposta:\nUser: \"Pode marcar uma sessão para terça às 14h?\"\nResposta: \"Terça-feira às 14h está disponível. Poderia confirmar esse horário?\"\n\nUtilize a calculadora para calcular diferença de datas, horarios e dias.\n\n<OUTPUT>\nExemplo com eventId:\nsua mensagem aqui (eventId: 87aw898ad807d80s)\n\nExemplo sem eventId:\nsua mensagem aqui\n</OUTPUT>\n\n</INSTRUCAO>"
          }
        },
        "id": "57e5d074-aecb-4d81-9309-8e3e7dae98f7",
        "name": "secretaria_agendamento",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          1180,
          1280
        ],
        "retryOnFail": true,
        "maxTries": 2
      },
      {
        "parameters": {
          "content": "## Memory\n",
          "height": 260,
          "width": 420,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          80,
          1500
        ],
        "id": "bd953f15-1ce0-4493-b792-a3d3d27b0aa5",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "operation": "push",
          "list": "={{ $json.telefone }}",
          "messageData": "={{ $json.Audio || $json.WhatsWeb || $json.WhatsAppApp || $json.Imagem || $json.mensagem}}",
          "tail": true
        },
        "id": "f045164e-101c-4d2e-a048-666794ee8d13",
        "name": "salva_mensagem",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -960,
          1420
        ],
        "credentials": {
          "redis": {
            "id": "7CCqfQJJiEQTOnTz",
            "name": "Redis - psicologacamilarosa"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "={{ $json.telefone }}"
        },
        "id": "73d5eade-e08a-4cd2-8730-15e3774f0e44",
        "name": "deleta_mensagens",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -300,
          1420
        ],
        "credentials": {
          "redis": {
            "id": "7CCqfQJJiEQTOnTz",
            "name": "Redis - psicologacamilarosa"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "mensagem",
          "key": "={{ $json.telefone }}",
          "options": {}
        },
        "id": "1b6080b2-5081-4eb7-a46c-052237caf99b",
        "name": "puxa_mensagens",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -960,
          1620
        ],
        "credentials": {
          "redis": {
            "id": "7CCqfQJJiEQTOnTz",
            "name": "Redis - psicologacamilarosa"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7a8aee3d-6e41-4946-ab08-9cfa57247fac",
                "leftValue": "={{ $json.phone }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -960,
          540
        ],
        "id": "353e22bf-402f-42be-8bc5-f1785a1234e0",
        "name": "cliente_existe",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "operation": "create",
          "databaseId": 117970,
          "tableId": 311371,
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": 2250462,
                "fieldValue": "={{ $('Webhook').item.json.body.data.pushName }}"
              },
              {
                "fieldId": 2250466,
                "fieldValue": "=+{{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"
              },
              {
                "fieldId": 2250467,
                "fieldValue": "n8n-sdr-assistente"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          -740,
          600
        ],
        "id": "d61716b3-db3b-4cac-822f-3ec52ebbac9f",
        "name": "cria_cliente",
        "alwaysOutputData": true,
        "credentials": {
          "baserowApi": {
            "id": "ry0JPkTFr8IVo5d3",
            "name": "Baserow - psicologacamilarosa"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "content": "roda para deletar mensagens de usuários específicos",
          "height": 274.7923843700217,
          "width": 273.1627906976745,
          "color": 7
        },
        "id": "d99393b2-4026-4f0b-835a-93901b479d34",
        "name": "Sticky Note10",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2360,
          840
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "DELETE FROM psicologacamilarosa_mensagens\nWHERE session_id IN ('554196787181', '554197074418');\n",
          "options": {}
        },
        "id": "a926826e-5692-44fd-a747-2a597af95987",
        "name": "Deletar_mensagens_usuario",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -2280,
          920
        ],
        "credentials": {
          "postgres": {
            "id": "ABCG6qEwV1ko9lVZ",
            "name": "Postgres - psicologacamilarosa"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.toolCalculator",
        "typeVersion": 1,
        "position": [
          1660,
          1500
        ],
        "id": "04ef0d70-ac02-4221-9278-47ab0d854f94",
        "name": "Calculator1"
      },
      {
        "parameters": {
          "mode": "insert",
          "messages": {
            "messageValues": [
              {
                "type": "ai",
                "message": "={{ $json.body.data.message.conversation }}"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.memoryManager",
        "typeVersion": 1.1,
        "position": [
          -1680,
          1120
        ],
        "id": "bc29b1e7-b579-4cea-a7c7-099645914b10",
        "name": "Add Start Message Memory Manager"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "665ff010-0ed0-4d2c-aebb-6ed104ab8af3",
                "leftValue": "={{ $json.body.data.key.fromMe }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "c8293e0a-b8dc-42b3-af95-cd2fa78bcde9",
        "name": "fromMe",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1940,
          1120
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "09db48f1-b99e-4760-8a9b-10944a1ce0d2",
                "name": "=texto",
                "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "842628ef-eeeb-4b47-b9f5-94e1d2e54386",
        "name": "edit",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -740,
          1100
        ]
      },
      {
        "parameters": {
          "databaseId": 117970,
          "tableId": 311371,
          "returnAll": true,
          "additionalOptions": {
            "filters": {
              "fields": [
                {
                  "field": 2250466,
                  "value": "=+{{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net','') }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          -1160,
          540
        ],
        "id": "7b7f6568-0234-43f1-96e7-2227d1f151fe",
        "name": "busca_lead",
        "alwaysOutputData": true,
        "credentials": {
          "baserowApi": {
            "id": "ry0JPkTFr8IVo5d3",
            "name": "Baserow - psicologacamilarosa"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "update",
          "databaseId": 117970,
          "tableId": 311371,
          "rowId": "={{ $('lead_data').first().json.id }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": 2250465,
                "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Field_Value', ``, 'string') }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserowTool",
        "typeVersion": 1,
        "position": [
          1520,
          1500
        ],
        "id": "c8743895-bb9b-480e-acd5-2f58e74059bd",
        "name": "secretaria_atualiza_lead",
        "credentials": {
          "baserowApi": {
            "id": "ry0JPkTFr8IVo5d3",
            "name": "Baserow - psicologacamilarosa"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ $('busca_lead').first().json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -500,
          540
        ],
        "id": "053e7f1a-2dbb-4347-87e5-2e4c0557cf01",
        "name": "lead_data",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-production-44c2.up.railway.app/message/sendText/psicologacamilarosa",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "7724F68A6488-4B0A-B1F6-7F0B20799688"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n  \"text\": {{ JSON.stringify($json.output) }}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1560,
          900
        ],
        "id": "e64297b1-5352-4dd6-9d08-b97ad0878fc6",
        "name": "evo_send_message"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-production-44c2.up.railway.app/message/sendText/psicologacamilarosa",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "7724F68A6488-4B0A-B1F6-7F0B20799688"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"number\": \"{{ $('Webhook').item.json.body.data.key.remoteJid }}\",\n  \"text\": {{ JSON.stringify($json.output) }}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1560,
          1280
        ],
        "id": "66d8a5ba-e11d-4552-8d6c-7064a4773b85",
        "name": "evo_send_message1"
      }
    ],
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "recepcionista",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "intencao": {
        "main": [
          [
            {
              "node": "assistente_comercial",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "secretaria_agendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "OpenAI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "edit1": {
        "main": [
          [
            {
              "node": "Filtra Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "edit2": {
        "main": [
          [
            {
              "node": "Filtra Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "auth": {
        "main": [
          [
            {
              "node": "busca_lead",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "fromMe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "mensagem_tipo": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "edit2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "edit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtra Webhook": {
        "main": [
          [
            {
              "node": "salva_mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "puxa_mensagens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "deleta_mensagens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model5": {
        "ai_languageModel": [
          [
            {
              "node": "secretaria_agendamento",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI": {
        "main": [
          [
            {
              "node": "edit1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "mensagem_cliente": {
        "main": [
          [
            {
              "node": "recepcionista",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory1": {
        "ai_memory": [
          [
            {
              "node": "secretaria_agendamento",
              "type": "ai_memory",
              "index": 0
            },
            {
              "node": "recepcionista",
              "type": "ai_memory",
              "index": 0
            },
            {
              "node": "assistente_comercial",
              "type": "ai_memory",
              "index": 0
            },
            {
              "node": "Add Start Message Memory Manager",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "buscar_eventos": {
        "ai_tool": [
          [
            {
              "node": "secretaria_agendamento",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "recepcionista": {
        "main": [
          [
            {
              "node": "intencao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "auth",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "assistente_comercial",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "assistente_comercial": {
        "main": [
          [
            {
              "node": "evo_send_message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar lead": {
        "ai_tool": [
          [
            {
              "node": "Gerenciador de Leads",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Calculator": {
        "ai_tool": [
          [
            {
              "node": "Gerenciador de Leads",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Buscar lead": {
        "ai_tool": [
          [
            {
              "node": "Gerenciador de Leads",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model3": {
        "ai_languageModel": [
          [
            {
              "node": "Gerenciador de Leads",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model4": {
        "ai_languageModel": [
          [
            {
              "node": "Vector Store Tool",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Vector Store1": {
        "ai_vectorStore": [
          [
            {
              "node": "Vector Store Tool",
              "type": "ai_vectorStore",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI2": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Vector Store Tool": {
        "ai_tool": [
          [
            {
              "node": "assistente_comercial",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "criar_evento": {
        "ai_tool": [
          [
            {
              "node": "secretaria_agendamento",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "deletar_evento": {
        "ai_tool": [
          [
            {
              "node": "secretaria_agendamento",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "secretaria_agendamento": {
        "main": [
          [
            {
              "node": "evo_send_message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "salva_mensagem": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "deleta_mensagens": {
        "main": [
          [
            {
              "node": "mensagem_cliente",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "puxa_mensagens": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "cliente_existe": {
        "main": [
          [
            {
              "node": "lead_data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "cria_cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "cria_cliente": {
        "main": [
          [
            {
              "node": "lead_data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculator1": {
        "ai_tool": [
          [
            {
              "node": "secretaria_agendamento",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "fromMe": {
        "main": [
          [
            {
              "node": "Add Start Message Memory Manager",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "edit": {
        "main": [
          [
            {
              "node": "mensagem_cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "busca_lead": {
        "main": [
          [
            {
              "node": "cliente_existe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "secretaria_atualiza_lead": {
        "ai_tool": [
          [
            {
              "node": "secretaria_agendamento",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "lead_data": {
        "main": [
          [
            {
              "node": "mensagem_tipo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "timezone": "America/Sao_Paulo",
      "callerPolicy": "workflowsFromSameOwner",
      "errorWorkflow": "QXFrfjYJi0JXm241"
    },
    "staticData": {
      "node:arquivo_alterado": {
        "lastTimeChecked": "2025-01-20T02:10:43Z"
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {
      "Webhook": [
        {
          "json": {
            "headers": {
              "host": "primary-production-2cc1.up.railway.app",
              "user-agent": "axios/1.7.7",
              "content-length": "1002",
              "accept-encoding": "gzip, compress, deflate, br",
              "content-type": "application/json",
              "x-forwarded-for": "162.220.232.20",
              "x-forwarded-host": "primary-production-2cc1.up.railway.app",
              "x-forwarded-proto": "https",
              "x-railway-edge": "railway/us-west1",
              "x-railway-request-id": "IxKLwcKsS6iFpDAfgN5Rmg_3167001623",
              "x-real-ip": "162.220.232.20",
              "x-request-start": "1741823376754"
            },
            "params": {},
            "query": {},
            "body": {
              "event": "messages.upsert",
              "instance": "psicologacamilarosa",
              "data": {
                "key": {
                  "remoteJid": "554196787181@s.whatsapp.net",
                  "fromMe": false,
                  "id": "3A1E10AC79E7672EB34A"
                },
                "pushName": "Luan Semensato",
                "status": "DELIVERY_ACK",
                "message": {
                  "conversation": "quero agendar uma consulta",
                  "messageContextInfo": {
                    "deviceListMetadata": {
                      "senderKeyHash": "EJsy69pCfQEX1g==",
                      "senderTimestamp": "1736460552",
                      "recipientKeyHash": "KeY0P2nkW4UY+Q==",
                      "recipientTimestamp": "1737333729"
                    },
                    "deviceListMetadataVersion": 2,
                    "messageSecret": "4AKqJYEAxka43EztVXj2U4Nga8d4qj5hXHsuXQyMJAU="
                  }
                },
                "messageType": "conversation",
                "messageTimestamp": 1741823375,
                "instanceId": "97a0ae3b-1103-40cb-b28e-2743bdcd2773",
                "source": "ios"
              },
              "destination": "https://primary-production-2cc1.up.railway.app/webhook/n8n-agendamento-psicologacamilarosa",
              "date_time": "2025-03-12T20:49:36.581Z",
              "sender": "5518997738367@s.whatsapp.net",
              "server_url": "http://localhost:8080",
              "apikey": "7724F68A6488-4B0A-B1F6-7F0B20799688"
            },
            "webhookUrl": "https://primary-production-2cc1.up.railway.app/webhook/n8n-agendamento-psicologacamilarosa",
            "executionMode": "production"
          }
        }
      ]
    },
    "versionId": "c82602b0-5aac-42fb-9e41-a19d8d546af3",
    "activeVersionId": null,
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2025-01-17T16:52:16.082Z",
        "createdAt": "2025-01-17T16:52:16.082Z",
        "role": "workflow:owner",
        "workflowId": "bmJvHFsqWSw3INqX",
        "projectId": "kIME1uXtRB3VHBZW"
      }
    ],
    "activeVersion": null,
    "tags": []
  }
]