psicologacamilarosa/Workflow Backups Saturday 2_28 PM 14-03-2026/Analista de tráfego pago.json
[
  {
    "updatedAt": "2025-02-25T00:58:45.352Z",
    "createdAt": "2025-01-20T06:37:02.529Z",
    "id": "3a4qSwAWTYQ8xzCI",
    "name": "Analista de tráfego pago",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "operation": "xls",
          "binaryPropertyName": "arquivo",
          "options": {}
        },
        "id": "dc7803f0-b6fb-4235-a095-633f3c2d12f3",
        "name": "Extract from File",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -1060,
          500
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "2af919d5-95a1-4336-a0a9-53e273952b55",
                "leftValue": "={{ $json.Reach }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "8bf24d53-a0b4-43d5-be09-69b31e2c7833",
        "name": "Filter",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          -860,
          500
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "c017a817-2eda-43c3-b987-87811dc52045",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -640,
          500
        ]
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1EfKR7LxcdT3nnOR7On0J9L7GFKWwSTjiBrzDjDxyGOk",
            "mode": "list",
            "cachedResultName": "Agente - analista de trafego pago",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EfKR7LxcdT3nnOR7On0J9L7GFKWwSTjiBrzDjDxyGOk/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EfKR7LxcdT3nnOR7On0J9L7GFKWwSTjiBrzDjDxyGOk/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id": "={{ $now.format('yyyy-MM-dd-hh-mm-ss-ii') }}",
              "nome": "={{ $json.output.nome_anuncio }}",
              "pontos_positivos": "={{ $json.output.pontos_positivos }}",
              "pontos_negativos": "={{ $json.output.pontos_atencao }}",
              "sugestao": "={{ $json.output.sugestao }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nome",
                "displayName": "nome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "pontos_positivos",
                "displayName": "pontos_positivos",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "pontos_negativos",
                "displayName": "pontos_negativos",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "sugestao",
                "displayName": "sugestao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ]
          },
          "options": {}
        },
        "id": "2821dcb5-2e96-46ee-b44f-d6d22f2e568e",
        "name": "Google Sheets",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          520,
          520
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "87fe50b3-685d-47af-baa5-d7574dd24225",
        "name": "Auto-fixing Output Parser",
        "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
        "typeVersion": 1,
        "position": [
          200,
          740
        ]
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n\t\"pontos_positivos\": \"pontos positivos aqui\",\n    \"pontos_atencao\": \"pontos de atenção aqui\",\n    \"sugestao\": \"sugestao aqui.\",\n    \"nome_anuncio\": \"nome do anuncio aqui.\"\n}"
        },
        "id": "657cd0d4-4e35-4515-8b8c-0187d200b469",
        "name": "Structured Output Parser",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          320,
          880
        ]
      },
      {
        "parameters": {
          "model": "gpt-4o",
          "options": {}
        },
        "id": "0c0cc39b-c3b9-4f81-b0e4-4bb9a5d5d806",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          -60,
          740
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "414d5e92-8884-496d-8631-660f388d8eda",
        "name": "OpenAI Chat Model1",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          140,
          880
        ]
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "id": "202302aa-853d-45ac-a3b6-0f6add1c20b4",
        "name": "agrupar",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -340,
          200
        ]
      },
      {
        "parameters": {
          "model": "gpt-4o",
          "options": {}
        },
        "id": "0da9a548-0632-4466-ab05-3dfad89e080b",
        "name": "OpenAI Chat Model2",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          -40,
          180
        ]
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1EfKR7LxcdT3nnOR7On0J9L7GFKWwSTjiBrzDjDxyGOk",
            "mode": "list",
            "cachedResultName": "Agente - analista de trafego pago",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EfKR7LxcdT3nnOR7On0J9L7GFKWwSTjiBrzDjDxyGOk/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EfKR7LxcdT3nnOR7On0J9L7GFKWwSTjiBrzDjDxyGOk/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id": "=gestor_{{ $now.format('yyyy-MM-dd--hh-mm-ss') }}",
              "nome": "Analise do gestor",
              "pontos_positivos": "={{ $json.output.pontos_positivos }}",
              "pontos_negativos": "={{ $json.output.pontos_negativos }}",
              "sugestao": "={{ $json.output.sugestao }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nome",
                "displayName": "nome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "pontos_positivos",
                "displayName": "pontos_positivos",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "pontos_negativos",
                "displayName": "pontos_negativos",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "sugestao",
                "displayName": "sugestao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ]
          },
          "options": {}
        },
        "id": "06302dff-5ed5-4dc4-9b9f-f30fa3688344",
        "name": "Google Sheets1",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          600,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "b2fc237d-4d4f-46d1-a965-d12fee1bc69f",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          860,
          0
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ JSON.stringify($json) }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=# Persona\nVocê é um analista sênior de marketing digital especializado em análise de campanhas do Meta Ads, com vasta experiência em otimização de campanhas e interpretação de métricas-chave de performance.\n\n# Objetivo\nAnalisar detalhadamente os dados do anúncio fornecido e fornecer insights acionáveis para otimização de campanha.\n\n# Instruções de Análise\nQuando receber os dados de um anúncio, siga este processo de análise:\n\n<thinking>\n1. Primeiro, identifique as métricas básicas da campanha:\n   - Nome da campanha\n   - Status\n   - Orçamento gasto\n   - Período\n\n2. Analise as métricas de alcance e engajamento:\n   - Alcance total\n   - Impressões\n   - Frequência\n   - CTR\n   - CPC\n\n3. Avalie a eficiência do custo:\n   - CPM\n   - Custo por resultado\n   - ROI geral\n</thinking>\n\n<analysis>\nForneça a análise estruturada seguindo este formato:\n\n## Visão Geral da Campanha\n[Inclua as informações básicas da campanha]\n\n## Métricas de Performance\n[Liste as métricas principais com suas respectivas análises]\n\n## Pontos Fortes\n[Liste 2-3 aspectos positivos da campanha]\n\n## Pontos de Atenção\n[Liste 2-3 aspectos que precisam de melhoria]\n\n## Recomendações\n[Forneça 3-5 recomendações acionáveis baseadas nos dados]\n</analysis>\n\n# Regras Importantes\n1. Use comparações percentuais quando relevante\n2. Sempre contextualize as métricas\n3. Seja específico nas recomendações\n4. Indique se alguma métrica está fora dos benchmarks padrão do setor\n5. Priorize insights que podem levar a ações concretas\n\nSe houver dados insuficientes para alguma análise, indique claramente na resposta."
          }
        },
        "id": "7e0f22c4-74b3-48d2-9bc5-68011e98745f",
        "name": "analista_de_trafego_pago",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          0,
          520
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ JSON.stringify($json.data) }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=# Persona\nVocê é um analista sênior de marketing digital e cientista de dados, especializado em análise comparativa de campanhas do Meta Ads, com experiência em identificação de padrões e anomalias em grandes conjuntos de dados de marketing.\n\n# Objetivo\nAnalisar múltiplos anúncios do Meta simultaneamente, identificando padrões, comparando performances e gerando insights acionáveis para otimização de campanhas.\n\n# Estrutura de Análise\nPara cada conjunto de anúncios fornecido, siga este processo:\n\n<analysis_structure>\n1. Primeiro, crie uma tabela de análise com os seguintes campos:\n   - ID do anúncio\n   - Nome do anúncio\n   - Pontos Positivos\n   - Pontos Negativos\n   - Sugestões de Otimização\n\n2. Para cada anúncio, analise:\n   - Métricas de performance (CTR, CPC, CPM)\n   - Métricas de alcance (Reach, Impressions, Frequency)\n   - Eficiência de custos (Cost per Result, Amount Spent)\n\n3. Compare os anúncios entre si para identificar:\n   - Melhores performers\n   - Piores performers\n   - Anomalias e outliers\n</analysis_structure>\n\n\n# Regras de Análise\n1. Sempre inclua números específicos nas análises\n2. Compare métricas com benchmarks do setor quando relevante\n3. Forneça no mínimo 2 pontos positivos e 2 pontos negativos por anúncio\n4. Inclua no mínimo 3 sugestões acionáveis por anúncio\n5. Use linguagem clara e objetiva\n6. Identifique tendências entre diferentes anúncios\n\n# Análise Final\nApós analisar todos os anúncios, forneça:\n\n<gestor_analysis>\n{\n    \"pontos_positivos\": [\n        \"Insights gerais positivos da campanha como um todo\"\n    ],\n    \"pontos_negativos\": [\n        \"Principais pontos de atenção identificados\"\n    ],\n    \"sugestao\": [\n        \"Recomendações estratégicas para todo o conjunto de campanhas\"\n    ]\n}\n</gestor_analysis>\n\n# Benchmarks de Referência\n- CTR médio: 1-3%\n- Frequência ideal: 1.8-2.5\n- CPM competitivo: R$5-15\n- CPC adequado: R$0.50-2.00\n\nSe algum dado estiver faltando ou parecer inconsistente, indique claramente na análise."
          }
        },
        "id": "f7f42cd1-3b15-4110-9839-24c9b86ada7e",
        "name": "gestor_de_trafego_pago",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "71c013ae-56de-416d-aa16-d7b7aa362cec",
        "name": "Auto-fixing Output Parser1",
        "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
        "typeVersion": 1,
        "position": [
          200,
          160
        ]
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n\t\"pontos_positivos\": \"pontos positivos aqui\",\n    \"pontos_negativos\": \"pontos negativos aqui\",\n    \"sugestao\": \"sugestao aqui.\"\n}"
        },
        "id": "f01ece32-d1d6-421a-bda5-f49b5e6e4988",
        "name": "Structured Output Parser1",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          280,
          300
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "analista_api",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "dfbbed21-4a3c-4a96-9caf-29f125e02754",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1280,
          500
        ],
        "webhookId": "8b394f86-a08d-47da-a414-af6f51528120"
      }
    ],
    "connections": {
      "Extract from File": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "agrupar",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "analista_de_trafego_pago",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auto-fixing Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "analista_de_trafego_pago",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Auto-fixing Output Parser",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "analista_de_trafego_pago",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Auto-fixing Output Parser",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "agrupar": {
        "main": [
          [
            {
              "node": "gestor_de_trafego_pago",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "gestor_de_trafego_pago",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Auto-fixing Output Parser1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets1": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "analista_de_trafego_pago": {
        "main": [
          [
            {
              "node": "Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "gestor_de_trafego_pago": {
        "main": [
          [
            {
              "node": "Google Sheets1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auto-fixing Output Parser1": {
        "ai_outputParser": [
          [
            {
              "node": "gestor_de_trafego_pago",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser1": {
        "ai_outputParser": [
          [
            {
              "node": "Auto-fixing Output Parser1",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "147fdae8-3e6f-45b3-a765-9e405312836e",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2025-01-20T06:37:02.529Z",
        "createdAt": "2025-01-20T06:37:02.529Z",
        "role": "workflow:owner",
        "workflowId": "3a4qSwAWTYQ8xzCI",
        "projectId": "kIME1uXtRB3VHBZW"
      }
    ],
    "activeVersion": null,
    "tags": []
  }
]