psicologacamilarosa/Workflow Backups Saturday 2_28 PM 14-03-2026/RAG AI.json
[
  {
    "updatedAt": "2025-01-15T16:03:04.414Z",
    "createdAt": "2025-01-13T02:37:57.443Z",
    "id": "GMn4P8bRUHWxs7qD",
    "name": "RAG AI",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "id": "a052104a-d968-4ea8-85b4-9f808084b7d9",
        "name": "When chat message received",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.1,
        "position": [
          180,
          840
        ],
        "webhookId": "a1b8ac76-841d-4412-911a-7f22ff0d73ff"
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "5e8780bf-16c0-4dd9-a09e-be74bdf29fe3",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          360,
          840
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "1b1125c6-6115-403d-ac7e-ca45a78397e7",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          300,
          1040
        ],
        "credentials": {
          "openAiApi": {
            "id": "aYh6OxiTKlkwTrPm",
            "name": "OpenAi n8n key"
          }
        }
      },
      {
        "parameters": {},
        "id": "66c87252-e81e-497f-a13d-7a841243aade",
        "name": "Postgres Chat Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          440,
          1080
        ]
      },
      {
        "parameters": {
          "name": "consultarCarros",
          "description": "use essa tool quando o usuário desejar consultar um filtro de ar associado a um modelo de carro da planilha."
        },
        "id": "ae6cfe21-5912-42a4-b144-a9363a607ab5",
        "name": "Vector Store Tool",
        "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
        "typeVersion": 1,
        "position": [
          660,
          1100
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "a90a6665-c798-43b2-a587-f1166a4b240e",
        "name": "OpenAI Chat Model1",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          1100,
          1220
        ],
        "credentials": {
          "openAiApi": {
            "id": "aYh6OxiTKlkwTrPm",
            "name": "OpenAi n8n key"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "b60ab31b-13b0-4d5f-ab4c-cdd5f157a304",
        "name": "Embeddings OpenAI",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.1,
        "position": [
          700,
          1440
        ],
        "credentials": {
          "openAiApi": {
            "id": "aYh6OxiTKlkwTrPm",
            "name": "OpenAi n8n key"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1y3L1DjRCFP51b0BSA69X-cfHwvmaSNFG",
            "mode": "list",
            "cachedResultName": "demo yt - 28/11/24",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1y3L1DjRCFP51b0BSA69X-cfHwvmaSNFG"
          },
          "event": "fileCreated",
          "options": {}
        },
        "id": "a6c13e72-63ba-4465-a1f5-1e51279af443",
        "name": "Google Drive Trigger",
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          1580,
          780
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1b9ce002-32a7-4f00-9eb5-e84c621bbd1e",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "73dfa7f8-038d-4b0c-9c1b-8de92d65fb28",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1760,
          780
        ]
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "documents",
          "filterType": "string",
          "filterString": "=metadata->>file_id=like.*{{ $json.id }}*"
        },
        "id": "9e280b8c-d606-4a28-9238-b26f3c5c5151",
        "name": "Supabase",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1940,
          780
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Edit Fields').item.json.id }}",
            "mode": "id"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "text/plain"
              }
            }
          }
        },
        "id": "0237e3f7-0fcb-4b33-ab27-d636ba3d72a0",
        "name": "Google Drive",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2100,
          780
        ]
      },
      {
        "parameters": {
          "operation": "text",
          "options": {}
        },
        "id": "8ec0b70f-3e66-4447-90e3-ce9c39e7ae85",
        "name": "Extract from File",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          2300,
          780
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "33c8bc08-9b61-46f3-b55f-d84ffee6fff9",
        "name": "Embeddings OpenAI1",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.1,
        "position": [
          2440,
          1040
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "ce294052-5e2f-447c-909c-e0b04961c74d",
        "name": "Default Data Loader",
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1,
        "position": [
          2620,
          980
        ]
      },
      {
        "parameters": {
          "chunkOverlap": 100,
          "options": {}
        },
        "id": "102e57b4-a312-4331-a4a4-4b92b4ebedcd",
        "name": "Recursive Character Text Splitter",
        "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          2580,
          1140
        ]
      },
      {
        "parameters": {
          "tableName": {
            "__rl": true,
            "value": "documents",
            "mode": "list",
            "cachedResultName": "documents"
          },
          "options": {
            "queryName": "match_documents"
          }
        },
        "id": "d0c0c4f0-4204-4572-807c-0051f3e1edd0",
        "name": "Supabase Vector Store",
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          660,
          1280
        ]
      },
      {
        "parameters": {
          "mode": "insert",
          "tableName": {
            "__rl": true,
            "value": "documents",
            "mode": "list",
            "cachedResultName": "documents"
          },
          "options": {
            "queryName": "match_documents"
          }
        },
        "id": "ec17aa4f-6664-4a9c-82a1-9844d566ca01",
        "name": "Supabase Vector Store1",
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          2480,
          780
        ]
      }
    ],
    "connections": {
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Vector Store Tool": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Vector Store Tool",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase": {
        "main": [
          [
            {
              "node": "Google Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Supabase Vector Store1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI1": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Supabase Vector Store1",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Recursive Character Text Splitter": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Vector Store": {
        "ai_vectorStore": [
          [
            {
              "node": "Vector Store Tool",
              "type": "ai_vectorStore",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "c5c3e820-3058-48d0-b6dd-15d52bb17133",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2025-01-13T02:37:57.443Z",
        "createdAt": "2025-01-13T02:37:57.443Z",
        "role": "workflow:owner",
        "workflowId": "GMn4P8bRUHWxs7qD",
        "projectId": "kIME1uXtRB3VHBZW"
      }
    ],
    "activeVersion": null,
    "tags": []
  }
]